body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  padding: 1rem;
}

nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    
  }
}
img{
  align-content: center;
  border-radius: 50%;
  border: none;
}
h1 , h2{
  text-align: center;
}
p{
  text-align: center;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.9rem;
}

footer a {
  color: #66ccff;
  text-decoration: none;
  margin: 0 5px;
}

footer a:hover {
  text-decoration: underline;
}
